<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://fasm.ga/.css" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Fasm.ga" />
        <meta property="og:title" content="Fasm.ga - Accorcia un URL" />
        <meta property="og:description" content="Fasm.ga è un buon URL shortener creato da ParliamoDiPC."/>
        <meta property="og:image" content="https://raw.githubusercontent.com/fasm-ga/short/main/seo-img.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@ParliamoDiPC" />
        <meta name="twitter:creator" content="@ParliamoDiPC" />
        <meta name="keywords" content="url shortener, fasm.ga, fasm ga" />
        <meta name="theme-color" content="#008AFC">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-light_blue.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <title>Dashboard | {{ siteName }}</title>
    </head>
    <body bgcolor="#1e1e1e">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{ siteName }}</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="/">Crea un URL base</a>
          <a class="mdl-navigation__link" href="/custom">Crea un URL personalizzato</a>
          <a class="mdl-navigation__link"><img src="https://fasm.ga/static/user.png" height="36" width="36">   <a style="color:white;text-decoration:none" href="https://repl.it/@{{ user_name }}">{{ user_name }}</a></a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
        <br><br>
      <center><span class="mdl-layout-title"><img src="https://fasm.ga/static/user.png" height="36" width="36">   {{ user_name }}</span></center>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Crea un URL base</a>
        <a class="mdl-navigation__link" href="/custom">Crea un URL personalizzato</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
          <center>
            <h1 style="color:white">Dashboard</h1>
            <br>
            <table class="mdl-data-table mdl-js-data-table" style="width:90%">
              <thead>
                  <tr>
                    <th class="mdl-data-table__cell">ID</th>
                    <th class="mdl-data-table__cell">URL</th>
                    <th class="mdl-data-table__cell">Elimina</th>
                    <th class="mdl-data-table__cell">Modifica</th>
                  </tr>
                  {{ idTable|safe }}
                </thead>
                <tbody>
                  
                </tbody>
              </table>
              {{ error|safe }}
          </center>
      </div></main></div>
    </body>
</html>
        
    </body>
</html>